.search {
  position: relative;
  z-index: 100;
  top: 30%;
  color: #ffffff;
  .title {
    font-size: 46px;
    text-transform: none;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 600;
    padding: 5px 0;
  }
  .des {
    font-weight: 500;
    text-align: center;
    padding: 5px 0;
    font-size: 17px;
  }
  .Items {
    padding-top: 30px;
    width: 100%;
    .Item {
      width: 100%;
      height: 58px;
      line-height: 58px;
      border-radius: 5px;
      margin: 10px 0;
      display: flex;
      align-items: center;
      border-radius: 5px;
      .Form {
        border-radius: 5px;
        background-color: white;
      }
      .Box {
        width: 100%;
        height: 58px;
        line-height: 58px;
        border-radius: 5px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        border-radius: 5px;
      }
      .Input {
        width: 100%;
        height: 100%;
        line-height: 58px;
        padding: 0 10px;
        border-radius: 5px;
        background-color: white;
      }
      .Button {
        width: 100%;
        height: 100%;
        background-color: #ff4a52;
      }
      .Icon {
        margin-left: -30px;
        position: relative;
        z-index: 100;
        color: black;
      }
      .IconAdvan {
        position: relative;
        z-index: 100;
      }
      &:hover {
        .Button {
          background-color: #1ec6b6;
        }
      }
    }
  }
}
// Mobile
@media (max-width: 768px) {
  .search {
    top: 10%;
    width: 100%;
    .title {
      text-align: center;
      font-size: 24px;
    }
    .des {
      text-align: center;
      font-size: 15px;
    }
    .Item {
      padding:0px 30px;
    }
  }
}
